/** 
** Color: #00964c;
**/

.Nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.Nav-logo {
    display: none;
}

.Nav-list {
    padding: 0 20px;
}
.Nav-item:last-child .Nav-link {
    border: 0;
}
.Nav-link {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 20px 0;
    color: currentColor;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 1px solid currentColor;
}

.Nav-label {
    margin-right: auto;
    font-size: 1em;
}

.Nav-desc {
    font-size: .75em;
}

.Nav-icon {
    width: 30px;
    height: 30px;
    margin-right: 1em;
}
.Nav-chevron {
    display: inline-block;
    width: 10px;
    height: 10px;
}

.Nav-content--secondary {
    background: #00964c;
    color: #fff;
}

.Nav-category {
    display: block;
}

.Nav-label--shop {
    font-style: italic;
    text-transform: none;
    font-size: 1.2em;
}

@media (min-width: 34em) {
    body {
        height: 130vh;
    }
    .Nav {
        position: -webkit-sticky;
        height: auto;
        flex-direction: column-reverse;
    }

    .Nav-list {
        display: flex;
        flex-direction: row;
    }

    .Nav-content--secondary {
        margin-bottom: 3em;
    }

    .Nav-list--secondary {
        justify-content: flex-end;
    }

    .Nav-list--secondary .Nav-item:nth-child(2) {
        margin-left: auto;
        margin-right: 1em;
    }

    .Nav-content--primary .Nav-link {
        padding: 0 20px;
        border-right: 1px solid rgba(0,0,0, .2);
    }

    .Nav-item {
        display: flex;
        align-items: center;
        flex-basis: 25%;
    }

    .Nav-link {
        width: 100%;
        border: 0;
    }

    .Nav-chevron {
        display: none;
    }

    .Nav-logo {
        display: block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
        width: 150px;
        z-index: 1;
    }
}