@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

/* General & reset */
*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
}
